.container {
    width: 80vw;
    margin: 0 auto;
    padding: 3rem 0;
}

h1 {
    text-align: center;
}

.login, .logout {
    display: inline-block;
    margin: 2rem 0;
}
.error {
    color: red;
}

button {
    all: unset;
    cursor: pointer;
    padding: .25rem .75rem;
    margin: 0 2rem;
    color: #fff;
    background-color: #081C2F;
    
    &:hover {
        background-color: #890C23;
        box-shadow: 0 0 5px rgba(22,22,22,.5);
    }
}