<div class='container'>
  <router-outlet>

    <h1><a routerLink=''>Каталог товаров</a></h1>

    <div class='error' *ngIf='loginError'>Неправильно указаны пользователь или пароль</div>
    <div class='login' *ngIf='!loggedIn'>
      Пользователь: <input type="text" [(ngModel)]="userName">
      Пароль: <input type="password" [(ngModel)]="password">
    </div>
    <div class='logout' *ngIf='loggedIn'>Здравствуйте, {{userName}}</div>
    <button (click)="toggleLogin()">{{loginButton}}</button>

  </router-outlet>
  
</div>